<main class="container centerRay">

  <mat-card class="cardLogin mat-elevation-z2">

    <mat-card-title class="title">Demo Expenditure</mat-card-title>

    <form  [formGroup]="demoFormGroup" (ngSubmit)="post()">

        <div fxLayout="column" fxLayoutAlign="center" style="margin-top: 25px">

          <mat-form-field appearance="outline">
            <mat-label>Transaction Amount</mat-label>
            <input type="number" step="0.01" name="amount" matInput formControlName="amount" autocomplete="off">
            <mat-error>Transaction amount is required</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Transaction Description</mat-label>
            <input type="text" name="description" matInput formControlName="description" autocomplete="off">
            <mat-error>Transaction description is required</mat-error>
          </mat-form-field>



          <mat-form-field appearance="outline">
            <mat-label>Card Number</mat-label>
            <input type="text" name="cardnumber" matInput formControlName="cardnumber" autocomplete="off" (input)="cardPattern($event)">
            <mat-error *ngIf="demoFormGroup.get('cardnumber').getError('required')">Card number is required</mat-error>
            <mat-error *ngIf="demoFormGroup.get('cardnumber').getError('pattern')">Card number may not be valid</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Card Four-number Id</mat-label>
            <input type="text" name="cardid" matInput formControlName="cardid" autocomplete="off" (input)="onlyNumber($event)">
            <mat-error *ngIf="demoFormGroup.get('cardid').getError('required')">Card 4-number id is required</mat-error>
            <mat-error *ngIf="demoFormGroup.get('cardid').getError('pattern')">Card number may not be valid</mat-error>
          </mat-form-field>

        </div>

        <button type="submit" [disabled]="demoFormGroup.invalid" style="width:100%; margin-top: 15px; margin-bottom: 30px;" mat-raised-button color="primary">Post Transaction</button>

      </form>
  </mat-card>
</main>

