.cardRegister {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  min-width: 500px;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: #333;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: #333;
  margin-bottom: 30px;
}

h3.register {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

h3.finish {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  color: #333;
  margin-bottom: 30px;
  margin-top: 20px;
}

