<div class="top">

  <mat-toolbar color="primary">
    <div style="display: flex">
      <span style="margin-left: 40px;">Hi, {{authService.user.username}}</span>
      <a style="margin-left: 20px;" routerLink="./" mat-button>Welcome</a>
      <a style="margin-left: 3px;" routerLink="./review" mat-button>Review Application</a>
      <a style="margin-left: 5px;" routerLink="./decide" mat-button>Decide Application</a>
      <a style="margin-left: 6px;" routerLink="./dispute" mat-button>Manage Dispute</a>

    </div>
  </mat-toolbar>
</div>

<mat-divider></mat-divider>







