<main class="cards-container">
  <mat-card class="mat-elevation-z0 card-Card">

    <mat-card-header style="width: 380px;">
      <mat-card-title style="font-size: 20px;">Dispute</mat-card-title>
      <ng-container *ngIf="bankerService.unDecidedDispute.data.length === 0">
        <p style="color: royalblue">No dispute now</p>
      </ng-container>
    </mat-card-header>

    <table mat-table [dataSource]="bankerService.unDecidedDispute" >

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.transaction.time}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.transaction.amount | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="transaction">
        <th mat-header-cell *matHeaderCellDef> Transaction </th>
        <td mat-cell *matCellDef="let element"> {{element.transaction.description}} </td>
      </ng-container>

      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>  Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.reason}} </td>
      </ng-container>


      <ng-container matColumnDef="decide">
        <th mat-header-cell *matHeaderCellDef> Decide </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-primary" (click)="setDisputing(element)">Decide</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>


  </mat-card>
</main>

