.info-box {
  width: 500px;
  background: #D3D3D3;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  align-content: center;
}


.money-title {
  color: royalblue;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom : 10px;
}

.money-number {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
