<main class="container centerRay">

  <mat-card class="cardChange mat-elevation-z0">

    <mat-card-title class="title">Change Password</mat-card-title>

      <form  [formGroup]="changeFormGroup" (ngSubmit)="change()">

        <div fxLayout="column" fxLayoutAlign="center" style="margin-top: 25px">

          <mat-form-field appearance="outline">
            <mat-label>Old Password</mat-label>
            <input type="password" matInput formControlName="oldPassword" autocomplete="off">
            <mat-error *ngIf="changeFormGroup.get('oldPassword').getError('required')">Old password is required</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="center" formGroupName="passwordGroup">
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="newPassword" autocomplete="off">
            <mat-error *ngIf="changeFormGroup.get('passwordGroup').get('newPassword').getError('required')">New password is required</mat-error>
            <mat-error *ngIf="changeFormGroup.get('passwordGroup').get('newPassword').getError('minlength')">New password has to be no less then 3 characters long</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm your New Password</mat-label>
            <input type="password" matInput formControlName="confirm_password" autocomplete="off">
            <mat-error>Confirm Password is required</mat-error>
          </mat-form-field>

          <mat-error>
            {{changeFormGroup.get('passwordGroup').getError('passwordsNotMatch')}}
          </mat-error>
        </div>

        <button type="submit" [disabled]="changeFormGroup.invalid" style="width:100%; margin-top: 15px; margin-bottom: 30px;" mat-raised-button color="primary">Change</button>

        <div style="display: flex; justify-content: center">
          <a href="javascript:;" (click)="back()">Back to service list</a>
        </div>

      </form>


  </mat-card>

</main>
