<div class="top">

  <mat-toolbar color="primary">
    <div style="display: flex">
      <span style="margin-left: 40px;">Hi, {{authService.user.username}}</span>
      <span style="margin-left: 12px; margin-top: 5px; color: #333333; font-size: 12px">Your reward points: {{authService.user.points}}</span>
      <a style="margin-left: 20px;" routerLink="./" mat-button>Welcome</a>
      <a style="margin-left: 3px;" routerLink="./statement" mat-button>Statement</a>
      <a style="margin-left: 6px;" routerLink="./payment" mat-button>Payment</a>
      <a style="margin-left: 5px;" routerLink="./service" mat-button>Service</a>
    </div>
  </mat-toolbar>
</div>

<mat-divider></mat-divider>






