.cardChange {
  padding-left: 5%;
  padding-right: 5%;
  width: 70%;
  min-width: 300px;
}

.title {
  color: royalblue;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.title1 {
  color: grey;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  text-align: center;
  border-bottom: solid blue;
  padding-bottom: 10px;
}
